:root {
    --color-black: #021112;
    --color-gray: #677071;
    --color-lite_gray: #CCCFD0;
    --color-white: #FFFFFF;
    --color-blue: #13A6BA;

    --font-weight_main_text: 400;
    /* --font-weight_heading: 600; */
}

body, * {
    font-family: "Noto Serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main_heading {
    font-size: 80px;
    font-weight: 800;
    color: var(--color-black);
}
.heading {
    font-size: 58px;
    font-weight: 700;
    color: var(--color-black);
}
.btn {
    font-weight: 600;
    cursor: pointer;
}
.main_text {
    font-size: 20px;
    font-weight: var(--font-weight_main_text);
    color: var(--color-gray);
}
.signatures {
    font-size: 18px;
    font-weight: var(--font-weight_main_text);
}
.signatures--gray {
    color: var(--color-gray);
}
.signatures--black {
    color: var(--color-black);
}
.navig {
    font-size: 26px;
    color: var(--color-lite_gray);
}
.label {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-black);
}



.container {
    border: 1px solid blue;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #FBEDDA;
    height: 2300px;
}
.logo {
    width: 131px;
    height: 27px;
    margin-top: 51px;
}
nav {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 225px;
    margin-left: 500px;
    margin-right: 100px;
}
header nav li {
    display: inline-block;
    margin-right: 50px;
}
header nav li:last-child {
    margin-right: 0;
}
.btn__sign-in {
    font-size: 20px;
    width: 127px;
    height: 50px;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 10.5px 25px;
    margin-top: 39px;
    display: inline-block;
}
header .hero {
    text-align: center;
}
header h1{
    margin-bottom: 31px;
}
header .search {
    max-width: 1200px;
    margin: 132px auto 0;
    background-color: var(--color-white);
    display: block;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}
header .search .menu{
    display: inline-block;
    list-style: none;
}
header .search .menu li {
    padding-bottom: 30px;
    border-bottom: none;
    position: relative;
    transition: border-bottom 0.3s;
    display: inline-block;
    margin-top: 45px;
    margin-right: 87px;
}
header .search .menu li:first-child {
    margin-left: 35px;
}
header .search .menu li:last-child {
    margin-right: 0;
}
header .search .menu .navig {
    font-weight: var(--font-weight_main_text);
}
header .search .menu .navig:hover {
    font-weight: 600;
    color: var(--color-black);
}
header .search .menu li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -8px;
    width: 130%;
    height: 3px;
    border-radius: 2px;
    background-color: #021112;
    opacity: 0;
    transition: opacity 0.3s;
}
header .search .menu li:hover::after {
    opacity: 1;
}
header .search .main {
    border-top: 1px solid #E0E2E3;
    padding-left: 54px;
    padding-right: 54px;
    padding-bottom: 6px;
}
header .search .info-card {
    display: inline-block;
    padding-top: 33px;
    padding-bottom: 43px;
    margin: -2px;
}
header .search .info-card .icon {
    display: inline-block;
    width: 16px;
    height: 20px;
}
header .search .info-card .label {
    display: block;
    margin-top: 6px;
    margin-left: 22px;
}
header .search .dividing_line {
    height: 50px;
    color: #CFCCCC;
    margin-left: 68px;
    margin-right: 35px;
}
header .search .btn__search {
    font-size: 28px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 20px;
    margin-left: 40px;
    padding: 27px 56px;
}
header .image{
    position: absolute;
    width: 2300px;
    top: 850px;
    left: 50%;
    transform: translate(-50%);
}
header .image img {
    position: absolute;
    width: 100%;
    z-index: 0;
    pointer-events: none;
}





.realty {
    position: relative;
    max-width: 1440px;
    margin: 290px auto 520px;
}

.realty h2 {
    margin-bottom: 21px;
}
.realty p {
    margin-bottom: 99px;
}
.realty .button {
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 0;
}
.realty .button label {
    font-weight: 600;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 44px;
}
.realty .button label:last-child {
    margin-right: 0;
}
.realty .button input {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #CCCFD0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}
.realty .button input:checked {
    border-color: #772D8B;
}
.realty .button input:checked + label {
    border-color: #772D8B;
    color: #772D8B; 
}
.realty .button input::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 13px;
    height: 13px;
    background-color: #772D8B;
    border-radius: 50%;
    display: none; 
}
.realty .button input:checked::after {
    display: block;
}

.realty .house {
    display: inline-block;
    padding: 35px 30px;
    background-color: var(--color-white);
    border-radius: 40px;
    transition: box-shadow 0.2s;
    margin-right: 10px;
}
.realty .house:last-child {
    margin-right: 0;
}
.realty .house:hover {
    box-shadow: 2px 4px 55px rgba(0, 0, 0, 0.11);
}
.realty .house .image {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 390px;
    height: 300px;
}
.realty .house h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-black);
    margin-top: 46px;
    margin-bottom: 9px;
}
.realty .house .location {
    display: block;
    margin-bottom: 22px;
}

.realty .house .features {
    margin-bottom: 55px;
}
.realty .house .features li {
    display: inline-block;
    color: #CCCFD0;
}
.realty .house .dividing_line {
    height: 50px;
    padding: 0;
    color: #CCCFD0;
    margin-left: 23px;
    margin-right: 23px;
    height: 18.6px;
}
.realty .house .btn__see-details {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-size: 28px;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 26px 120px;
}
.realty .house .btn__see-details:hover {
    color: var(--color-white);
    font-size: 28px;
    background-color: var(--color-blue);
    border-radius: 20px;
    padding: 26px 120px;
}







.advantages {
    /* border: 1px solid red; */
    position: relative;
    margin-bottom: 142px;
}
.advantages .circle {
    width: 300px;
    height: 500px;
    position: absolute;
    top: -280px;
    left: -4%;
    z-index: 0;
}

.advantages .background {
    /* border: 1px solid rgb(208, 0, 255); */
    width: 1440px;
    position: relative;
}

.advantages .background .building {
    width: 680px;
    height: 760px;
    /* border: 1px solid red; */
}
.advantages .main {
    /* border: 1px solid red; */
    vertical-align: top;
    margin-left: 80px;
    display: inline-block;
}
.advantages .main h3 {
    margin-bottom: 70px;
}
.advantages .main .box {
    /* border: 1px solid rgb(0, 149, 255); */
    vertical-align: middle;
    margin-bottom: 54px;
}
.advantages .main .box:last-child {
    margin-bottom: 0;
}
.advantages .main .box1 {
    background-color: #FBFCED;
    width: 100px;
    height: 103px;
    padding: 27px;
    border-radius: 10px;
    display: inline-block;
}
.advantages .main .box .text {
    /* border: 1px solid orange; */
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 30px;
}


.advantages .slider {
    /* border: 1px solid red; */
    width: 390px;
    height: 190px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 34px;
    padding-left: 39px;
    position: absolute;
    top: 550px;
    left: -100px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 2px 4px 55px rgba(0, 0, 0, 0.11);
}
.advantages .slider h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 4px;
}
.advantages .slider span {
    font-size: 14px;
    font-weight: 600;
    color: #CCCFD0;
}
.advantages .slider .slides {
    /* border: 1px solid blue; */
    margin-top: 18px;
}
.advantages .slider .slides img {
    /* border: 1px solid red; */
    width: 58px;
    height: 54px;
    margin-right: 15px;
    border-radius: 5px;
    display: inline-block;
}

.advantages .slider .arrow {
    display: inline-block;
    position: absolute;
    top: 108px;
    right: 60px;
}
.advantages .slider .arrow-right {
    background-color: #F93633;
    display: inline-block;
    width: 58px;
    height: 54px;
    border-radius: 5px;
    padding: 17px 23px;
    cursor: pointer;
    
}
.advantages .slider .arrow-right img {
    width: 10px;
    height: 19px;
}



