:root {
    --color-black: #021112;
    --color-gray: #677071;
    --color-lite_gray: #CCCFD0;
    --color-white: #FFFFFF;
    --color-blue: #13A6BA;

    --font-weight_main_text: 400;
    --font-weight_text: 600;
}

body, * {
    font-family: "Noto Serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.main_heading {
    font-size: 80px;
    font-weight: 800;
    color: var(--color-black);
}
.heading {
    font-size: 58px;
    font-weight: 700;
    color: var(--color-black);
}
.btn {
    font-weight: var(--font-weight_text);
    cursor: pointer;
}
.main_text {
    font-size: 20px;
    font-weight: var(--font-weight_main_text);
    color: var(--color-gray);
}
.signatures {
    font-size: 18px;
    font-weight: var(--font-weight_main_text);
}
.signatures--gray {
    color: var(--color-gray);
}
.signatures--black {
    color: var(--color-black);
}
.navig {
    font-size: 26px;
    color: var(--color-lite_gray);
}
.label {
    font-size: 36px;
    font-weight: var(--font-weight_text);
    color: var(--color-black);
}



.container {
    /* border: 1px solid blue; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #FBEDDA;
    height: 2300px;
}
.logo {
    width: 131px;
    height: 27px;
    margin-top: 51px;
}
nav {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 225px;
    margin-left: 500px;
    margin-right: 100px;
}
header nav li {
    display: inline-block;
    margin-right: 50px;
}
header nav li:last-child {
    margin-right: 0;
}
.btn__sign-in {
    font-size: 20px;
    width: 127px;
    height: 50px;
    border-radius: 8px;
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 10.5px 25px;
    margin-top: 39px;
    display: inline-block;
}
header .hero {
    text-align: center;
}
header h1{
    margin-bottom: 31px;
}
header .search {
    max-width: 1200px;
    margin: 132px auto 0;
    background-color: var(--color-white);
    display: block;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}
header .search .menu{
    display: inline-block;
    list-style: none;
}
header .search .menu li {
    padding-bottom: 30px;
    border-bottom: none;
    position: relative;
    transition: border-bottom 0.3s;
    display: inline-block;
    margin-top: 45px;
    margin-right: 87px;
}
header .search .menu li:first-child {
    margin-left: 35px;
}
header .search .menu li:last-child {
    margin-right: 0;
}
header .search .menu .navig {
    font-weight: var(--font-weight_main_text);
}
header .search .menu .navig:hover {
    font-weight: var(--font-weight_text);
    color: var(--color-black);
}
header .search .menu li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -8px;
    width: 130%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-black);
    opacity: 0;
    transition: opacity 0.3s;
}
header .search .menu li:hover::after {
    opacity: 1;
}
header .search .main {
    border-top: 1px solid #E0E2E3;
    padding-left: 54px;
    padding-right: 54px;
    padding-bottom: 6px;
}
header .search .info-card {
    display: inline-block;
    padding-top: 33px;
    padding-bottom: 43px;
    margin: -2px;
}
header .search .info-card .icon {
    display: inline-block;
    width: 16px;
    height: 20px;
}
header .search .info-card .label {
    display: block;
    margin-top: 6px;
    margin-left: 22px;
}
header .search .dividing_line {
    height: 50px;
    color: #CFCCCC;
    margin-left: 68px;
    margin-right: 35px;
}
header .search .btn__search {
    font-size: 28px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 20px;
    margin-left: 40px;
    padding: 27px 56px;
}
header .image{
    position: absolute;
    width: 2300px;
    top: 850px;
    left: 50%;
    transform: translate(-50%);
}
header .image img {
    position: absolute;
    width: 100%;
    z-index: 0;
    pointer-events: none;
}



.realty {
    position: relative;
    max-width: 1440px;
    margin: 290px auto 520px;
}
.realty h2 {
    margin-bottom: 21px;
}
.realty p {
    margin-bottom: 99px;
}
.realty .button {
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 0;
}
.realty .button label {
    font-weight: var(--font-weight_text);
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 44px;
}
.realty .button label:last-child {
    margin-right: 0;
}
.realty .button input {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #CCCFD0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}
.realty .button input:checked {
    border-color: #772D8B;
}
.realty .button input:checked + label {
    border-color: #772D8B;
    color: #772D8B; 
}
.realty .button input::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 13px;
    height: 13px;
    background-color: #772D8B;
    border-radius: 50%;
    display: none; 
}
.realty .button input:checked::after {
    display: block;
}

.realty .house {
    display: inline-block;
    padding: 35px 30px;
    background-color: var(--color-white);
    border-radius: 40px;
    transition: box-shadow 0.2s;
    margin-right: 10px;
}
.realty .house:last-child {
    margin-right: 0;
}
.realty .house:hover {
    box-shadow: 2px 4px 55px rgba(0, 0, 0, 0.11);
}
.realty .house .image {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 390px;
    height: 300px;
}
.realty .house h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-black);
    margin-top: 46px;
    margin-bottom: 9px;
}
.realty .house .location {
    display: block;
    margin-bottom: 22px;
}

.realty .house .features {
    margin-bottom: 55px;
}
.realty .house .features li {
    display: inline-block;
    color: #CCCFD0;
}
.realty .house .dividing_line {
    height: 50px;
    padding: 0;
    color: #CCCFD0;
    margin-left: 23px;
    margin-right: 23px;
    height: 18.6px;
}
.realty .house .btn__see-details {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    font-size: 28px;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 26px 120px;
}
.realty .house .btn__see-details:hover {
    color: var(--color-white);
    font-size: 28px;
    background-color: var(--color-blue);
    border-radius: 20px;
    padding: 26px 120px;
}



.advantages {
    position: relative;
    margin-bottom: 142px;
}
.advantages .circle {
    width: 300px;
    height: 500px;
    position: absolute;
    top: -280px;
    left: -4%;
    z-index: 0;
}
.advantages .hero {
    width: 1440px;
    position: relative;
}
.advantages .hero .building {
    width: 680px;
    height: 760px;
}
.advantages .main {
    vertical-align: top;
    margin-left: 80px;
    display: inline-block;
}
.advantages .main h3 {
    margin-bottom: 70px;
}
.advantages .main .box {
    vertical-align: middle;
    margin-bottom: 54px;
}
.advantages .main .box:last-child {
    margin-bottom: 0;
}
.advantages .main .box1 {
    background-color: #FBFCED;
    width: 100px;
    height: 103px;
    padding: 27px;
    border-radius: 10px;
    display: inline-block;
}
.advantages .main .box .text {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 30px;
}


.advantages .discover {
    width: 390px;
    height: 190px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 34px;
    padding-left: 39px;
    position: absolute;
    top: 550px;
    left: -100px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 2px 4px 55px rgba(0, 0, 0, 0.11);
}
.advantages .discover h4 {
    font-size: 20px;
    font-weight: var(--font-weight_text);
    color: var(--color-black);
    margin-bottom: 4px;
}
.advantages .discover span {
    font-size: 14px;
    font-weight: var(--font-weight_text);
    color: #CCCFD0;
}
.advantages .discover .image {
    margin-top: 18px;
}
.advantages .discover .image img {
    width: 58px;
    height: 54px;
    margin-right: 15px;
    border-radius: 5px;
    display: inline-block;
}

.advantages .discover .arrow {
    display: inline-block;
    position: absolute;
    top: 104px;
    right: 60px;
}
.advantages .discover .arrow-right {
    background-color: #F93633;
    display: inline-block;
    width: 58px;
    height: 54px;
    border-radius: 5px;
    padding: 17px 23px;
    cursor: pointer;
}
.advantages .discover .arrow-right img {
    width: 10px;
    height: 19px;
}



.information {
    margin-bottom: 115px;
    position: relative;
    padding-bottom: 200px;
    position: relative;
}
.information .line {
    width: 1395px;
    height: 1253px;
    position: absolute;
    top: 0;
    right: 0;
}
.information .backdrop {
    width: 1091px;
    height: 980px;
    position: absolute;
    top: 136px;
    right: 0;
}
.information .elements {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.information .text {
    display: inline-block;
}
.information .text h3 {
    margin-bottom: 41px;
}
.information .text p {
    margin-bottom: 46px;
}
.information .text ul {
    list-style: none;
}
.information .text li {
    border-right: 1px solid #E0E2E3;
    display: inline-block;
    padding-right: 45px;
    padding-left: 45px;
}
.information .text li:first-child {
    padding-left: 0;
}
.information .text li:last-child {
    border-right: 0;
    padding-right: 0;
}
.information .text ul .value {
    font-size: 42px;
    font-weight: 700;
    color: var(--color-black);
}
.information .text ul .name {
    display: block;
}

.information .details {
    display: inline-block;
    border-radius: 20px;
    background-color: var(--color-white);
    padding: 103px 41px 29px;
    margin-left: 80px;
    margin-top: 172px;
    position: relative;
    box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.07);
}
.information .details .build {
    margin-bottom: 38px;
    border-radius: 10px;
}
.information .details .box {
    margin-bottom: 34px;
    position: relative;
    height: 52.7px;
}
.information .details .box img {
    width: 52.7px;
    height: 52.7px;
    position: absolute;
}
.information .details .box .people2 {
    left: 26.3px;
}
.information .details .box .people3 {
    left: 55.6px;
}
.information .details .box .people4 {
    left: 81.9px;
}
.information .details .box span {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    position: absolute;
    left: 160px;
    top: 10px;
}
.information .details p {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-gray);
}
.information .details .bottom-section {
    position: relative;
    margin-bottom: 29px;
}
.information .details .bottom-section span{
    font-size: 14px;
    font-weight: 400;
    color: #677071;
    position: absolute;
    top: 4px;
}
.information .details .bottom-section img {
    width: 26px;
    height: 27px;
    margin-right: 4.4px;
}
.information .details .bottom-section .comments-section {
    display: inline-block;
    position: absolute;
    left: 261px;
}
.information .details .bottom-section .share-section {
    display: inline-block;
    position: absolute;
    right: 41px;
}

.information .details .ellipsis {
    width: 5px;
    height: 24px;
    position: absolute;
    top: 41px;
    right: 69px;
}
.information .details .save {
    position: absolute;
    top: 396px;
    right: 66px;
    padding: 7.3px 6.8px;
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.information .elements .google {
    width: 169px;
    height: 169px;
    border-radius: 20px;
    padding: 35.8px;
    background-color: var(--color-white);
    position: absolute;
    top: 80px;
    right: -100px;
}
.information .elements .google img {
    width: 97px;
    height: 97px;
}

.information .elements .box-center {
    /* border: 1px solid red; */
    position: absolute;
    top: 565px;
    right: 440px;
    background-color: #FFFFFF;
    width: 307px;
    height: 307px;
    padding: 33px 27px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 16px -16px 42px 0px rgba(0, 0, 0, 0.10);
}
.information .elements .box-center .circle-image {
    width: 68px;
    height: 68px;
    margin-left: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    background-color: #F3C98B;
}
.information .elements .box-center h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black);
    margin-top: 14px;
    text-align: center;
}
.information .elements .box-center .real-estate {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-lite_gray);
    margin-top: 6px;
    margin-left: 100px;
}
.information .elements .box-center .captions_to_buttons {
    display: block;
    margin-top: 26px;
}
.information .elements .box-center .posts {
    margin-right: 100px;
}
.information .elements .box-center .posts,
.information .elements .box-center .followers {
    font-size: 12px;
    font-weight: 400;
    color: #677071;
}

.information .elements .box-center .button {
    margin-top: 26px;
    position: relative;
}
.information .elements .box-center .follow-btn,
.information .elements .box-center .message-btn {
    border-radius: 10px;
    font-weight: var(--font-weight_main_text);
    cursor: pointer;
    width: 115px;
    height: 42px;
    padding: 10px 30px 14px 35px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.information .elements .box-center .follow-btn {
    background-color: #772D8B;
    color: var(--color-white);
    border: none;
    margin-right: 18px;
}
.information .elements .box-center .message-btn {
    border: 1px solid #E0E2E3;
    color: var(--color-gray);
}
.information .elements .box-center .button img {
    margin-right: 7px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 18px;
}
.information .elements .box-center .follow-btn img {
    width: 9.8px;
    height: 7.5px;
}
.information .elements .box-center .message-btn img {
    width: 13px;
    height: 11px;
}


.feedback {
    background-color: #FDF6ED;
    margin-bottom: 244px;
    position: relative;
}
.feedback .main {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}
.feedback .main  img {
    position: absolute;
}
.feedback .quotation_marks {
    width: 170px;
    height: 130px;
    top: 89px;
    right: 0px;
}
.feedback .semicircle {
    width: 98px;
    height: 130px;
    top: 200px;
    right: 750px;
}
.feedback .glare {
    width: 65px;
    height: 87px;
    top: 240px;
    right: 750px;
}
.feedback .main .man {
    height: 1000px;
    top: -100px;
    left: 0;
}
.feedback .main .testimonials {
    display: inline-block;
    position: absolute;
    top: 190px;
    bottom: 190px;
    right: 20px;
}

.feedback .testimonials label {
    color: var(--color-blue);
}
.feedback .testimonials .heading__text {
    display: block;
    margin-bottom: 50px;
}
.feedback .testimonials p {
    font-size: 24px;
    font-weight: var(--font-weight_main_text);
    color: var(--color-black);
    margin-bottom: 59px;
}
.feedback .testimonials .name {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 1.6px;
}
.feedback .testimonials .last_name {
    display: block;
    margin-top: 1.6px;
}



.subscription-form {
    position: relative;
}
.subscription-form .background-img .stripe {
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.subscription-form .background-img .points {
    height: 103px;
    position: absolute;
    bottom: 200px;
    right: 100px;
    z-index: 0;
}
.subscription-form .background-img .circle {
    height: 163px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.subscription-form .text {
    display: inline-block;
    margin-bottom: 298px;
    position: relative;
    z-index: 1;
}
.subscription-form h3 {
    margin-bottom: 41px;
}
.subscription-form form {
    border: 1px solid #C8F3F9;
    border-radius: 20px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    margin-top: 100px;
    position: relative;
    z-index: 1;
}
.subscription-form input[type="email"] {
    padding: 38px 200px 38px 45px;
    border: 0;
}
.subscription-form input[type="email"]:focus { 
    outline: none;
}
.subscription-form input[type="submit"] {
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 15px;
    padding: 21px 46px;
    margin-right: 16px;
    cursor: pointer;
    border: none;
}


footer .logo img {
    width: 163px;
    height: 33px;
    margin-bottom: 38px;
}
footer .text {
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
}
footer nav {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
footer nav ul {
    display: inline-block;
    margin-right: 50px;
}
footer nav li {
    list-style: none;
    margin-bottom: 19px;
}
footer nav li:first-child,
footer .contacts span {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}
footer nav li a,
footer .contacts .contacts-text {
    color: var(--color-black);
    font-size: 20px;
    font-weight: var(--font-weight_main_text);
}

footer .contacts {
    display: inline-block;
    margin-left: 60px;
}
footer .contacts .contacts-text {
    margin-top: 50px;
}

footer .contacts .socials {
    margin-top: 40px;
    vertical-align: top;
}
footer .contacts .socials .fc,
footer .contacts .socials .inst,
footer .contacts .socials .in,
footer .contacts .socials .tw {
    width: 41px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--color-blue);
    position: relative;
    margin-right: 39px;
}
footer .contacts .socials .fc {
    padding: 9px 14px;
}
footer .contacts .socials .inst, 
footer .contacts .socials .in {
    padding: 9px 10px;
}
footer .contacts .socials .tw{
    padding: 9px;
}